torch
torchvision
numpy
einops
safetensors
tqdm
pillow
huggingface_hub
triton; platform_system!="Windows"
triton-windows; platform_system=="Windows"
sageattention
flash-attn --no-build-isolation; platform_system!="Windows"
psutil
opencv-python>=4.8.1.78
